.container {
    width: 22%;
    margin: 0px 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 40px;
    cursor: pointer;
}

.image {
    border: 1px solid #d7d7d7;
    border-radius: 5px;
    min-height: 150px;
    position: relative;
    overflow: hidden;
    margin-bottom: 10px;
    transition:all 0.5s ease-in-out;
}

.image:hover {
    transform: scale(1.1);
    transition:all 0.5s ease-in-out;
}

.title {
    font-size: 18px;
    font-weight: bold;
    color: black;
}

.price {
    font-weight: 600;
    font-size: 22px;
    color: #001a57;
}

.desc {
    text-align: center;
    color: #777;
}

@media screen and (max-width:480px) {
    .container {
        width: 100%;
    }

    .title {
        font-size: 30px;
    }

    .desc,
    .price {
        font-size: 24px;
    }
}